<div>
  <h2>Data analysis extended</h2>
</div>

<div class="actions-panel">
  <button color="accent" mat-flat-button [routerLink]="['..']">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
</div>

<div class="actions-panel form-inline-container" *ngIf="filterForm">
  <form [formGroup]="filterForm">
    <mat-form-field class="field">
      <mat-label>Salary type</mat-label>
      <mat-select name="salaryType" formControlName="salaryType">
        <mat-option *ngFor="let salaryType of salaryTypes" [value]="salaryType">{{salaryType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-shorter">
      <mat-label>Manual salary</mat-label>
      <input matInput type="number" name="manualSalary" formControlName="manualSalary">
    </mat-form-field>

    <mat-form-field class="field-shorter">
      <mat-label>Multiplicator</mat-label>
      <input matInput type="number" name="salaryMultiplicator" formControlName="salaryMultiplicator">
    </mat-form-field>

    <div class="splitter">
      &nbsp;
    </div>

    <mat-form-field class="field-long">
      <mat-label>Sorting</mat-label>
      <mat-select name="sortingFunction" formControlName="sortingFunction">
        @for(sortingFunction of sortingFunctions; track $index)
        {
          <mat-option [value]="sortingFunction">{{sortingFunction.name}}</mat-option>
        }

      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-short">
      <mat-label>Sort direction</mat-label>
      <mat-select name="sortAscending" formControlName="sortAscending">
        <mat-option [value]="true">Ascending</mat-option>
        <mat-option [value]="false">Descending</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button (click)="getReport()">Rebuild</button>
  </form>
</div>

<div class="actions-panel form-inline-container" *ngIf="adjustForm">
  <form [formGroup]="adjustForm">

    <mat-form-field class="field">
      <mat-label>City</mat-label>
      <input matInput name="city" formControlName="city">
    </mat-form-field>

    <mat-form-field class="field-short">
      <mat-label>Currency</mat-label>
      <mat-select name="currency" formControlName="currency">
        <mat-option [value]="'local'">Local</mat-option>
        <mat-option [value]="'USD'">USD</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div *ngIf="this.reportResultFilteredItems()">

  <table>
    <tr>
      <th>City</th>
      <th>Fact annual salary</th>
      <th>Expenses per month</th>
      <th>Desirable salary</th>
      <th>Terms</th>
    </tr>
    @for(city of this.reportResultFilteredItems(); track city.name)
    {
      <tr>
        <td>
          {{$index + 1}} of {{this.reportResultFilteredItems()!.length}}<br/>
          {{city.name}}, {{city.region}}<br/>
          {{city.country}}
          @if (city.countryCode)
          {
            <img src="https://flagsapi.com/{{city.countryCode}}/flat/16.png" />
          }
        </td>
        <td>
          <ul>
            <li>Avg net/gross: <wa-profit-taxable [profit]="city.salaryData.averageSalary" [currencyCode]="city.currencyCode"
              [netSelected]="reportSortingFunctionName() == 'AverageNetSalary'"
              [grossSelected]="reportSalaryType()?.id == 2 || reportSortingFunctionName() == 'AverageGrossSalary'" /></li>
            <li>P25 net/gross: <wa-profit-taxable [profit]="city.salaryData.p25Salary" [currencyCode]="city.currencyCode"
              [netSelected]="reportSortingFunctionName() == 'P25NetSalary'"
              [grossSelected]="reportSalaryType()?.id == 4 || reportSortingFunctionName() == 'P25GrossSalary'" /></li>
            <li>P75 net/gross: <wa-profit-taxable [profit]="city.salaryData.p75Salary" [currencyCode]="city.currencyCode"
              [netSelected]="reportSortingFunctionName() == 'P75NetSalary'"
              [grossSelected]="reportSalaryType()?.id == 5 || reportSortingFunctionName() == 'P75GrossSalary'" /></li>

            @if (reportSalaryType()?.id == 1 || reportSalaryType()?.id == 3)
            {
              <li>Selected: <wa-profit-taxable [profit]="city.selectedSalary" [currencyCode]="city.currencyCode" [grossSelected]="true" /></li>
            }
          </ul>
        </td>
        <td>
          <ul>
            <li *ngIf="city.hasFreeApartment"><b style="color: orange;">Free apt. applied</b></li>
            <li>Minimal: <wa-cost-fact [cost]="city.minimumCostsWithRent" [currencyCode]="city.currencyCode"
              [valueSelected]="reportSortingFunctionName() == 'MinimumCostsWithRent'" [diffSelected]="reportSortingFunctionName() == 'MinimumCostsWithRentToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'MinimumCostsWithRentRelatesToSelectedSalary'" /></li>
            <li>Usual: <wa-cost-fact [cost]="city.costsWithRent" [currencyCode]="city.currencyCode"
              [valueSelected]="reportSortingFunctionName() == 'CostsWithRent'" [diffSelected]="reportSortingFunctionName() == 'CostsWithRentToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'CostsWithRentRelatesToSelectedSalary'"/></li>
            <li>Mortgage: <wa-cost-fact [cost]="city.costsWithMortgage" [currencyCode]="city.currencyCode"
              [valueSelected]="reportSortingFunctionName() == 'CostsWithMortgage'" [diffSelected]="reportSortingFunctionName() == 'CostsWithMortgageToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'CostsWithMortgageRelatesToSelectedSalary'"/></li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Bare minimum: <wa-profit-desirable [profit]="city.bareMinimumSalary" [currencyCode]="city.currencyCode"
              [grossSelected]="reportSortingFunctionName() == 'BareMinimumSalary'" [diffSelected]="reportSortingFunctionName() == 'BareMinimumSalaryToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'BareMinimumSalaryRelatesToSelectedSalary'" /></li>
            <li>Sustainable: <wa-profit-desirable [profit]="city.sustainableSalary" [currencyCode]="city.currencyCode"
              [grossSelected]="reportSortingFunctionName() == 'SustainableSalary'" [diffSelected]="reportSortingFunctionName() == 'SustainableSalaryToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'SustainableSalaryRelatedToSelectedSalary'" /></li>
            <li>33K per year: <wa-profit-desirable [profit]="city.millionaireSalary" [currencyCode]="city.currencyCode"
              [grossSelected]="reportSortingFunctionName() == 'MillionaireSalary'" [diffSelected]="reportSortingFunctionName() == 'MillionaireSalaryToSelectedSalary'"
              [relativeSelected]="reportSortingFunctionName() == 'MillionaireSalaryRelatedToSelectedSalary'" /></li>
          </ul>
        </td>

        <td>
          <ul>
            <li>Earn 1 mln USD: <wa-term-details [term]="city.millionaireTerm" [currencyCode]="city.currencyCode"
              [selected]="reportSortingFunctionName() == 'MillionaireTerm'" /></li>
            <li>Earn mortgage down payment: <wa-term-details [term]="city.mortgageDownPaymentTerm" [currencyCode]="city.currencyCode"
              [selected]="reportSortingFunctionName() == 'MortgageDownPaymentTerm'" /></li>
            <li>Earn for new car: <wa-term-details [term]="city.buyCarTerm" [currencyCode]="city.currencyCode"
              [selected]="reportSortingFunctionName() == 'BuyCarTerm'" /></li>
          </ul>
        </td>
      </tr>
      <tr>

      </tr>
    }
  </table>

</div>
