.form-inline-container
{
  form
  {
    display: flex;
    width: 100%;

    @media (max-width: 1339px) {
      flex-direction: column;
    }

    @media (min-width: 1340px) {
      flex-direction: row;
    }

    .form-section
    {
      display: flex;

      @media (max-width: 779px) {
        flex-direction: column;
      }

      @media (min-width: 780px) {
        flex-direction: row;
      }

      gap: 10px;
      align-items: stretch;
    }

    @media (max-width: 779px) {
      .field-long,
      .field,
      .field-short,
      .field-shorter {
        width: 100%;
      }
    }

    @media (min-width: 780px) {
      .field-long
      {
        width: 450px;
      }

      .field
      {
        width: 290px;
      }

      .field-short
      {
        width: 150px;
      }

      .field-shorter
      {
        width: 115px;
      }
    }

    .splitter
    {
      @media (max-width: 1339px) {
        display: none;
      }

      margin: 0 10px 16px 10px;
      border-left: 2px solid #888;
    }
  }
}

table
{
  width: 100%;
  td
  {
    vertical-align: top;
    border-bottom: 1px solid #BBB;
  }
}
