@if (profit)
{
  @if (isShowInUsd())
  {
    $<wa-money-span [value]="profit.valueNet.valueInUsd" [selected]="netSelected" />
    <span>&nbsp;/&nbsp;</span>
    $<wa-money-span [value]="profit.valueGross.valueInUsd" [selected]="grossSelected" />
  }
  @else
  {
    <wa-money-span [value]="profit.valueNet.value" [selected]="netSelected" /> {{currencyCode ?? '???'}} <span>&nbsp;/&nbsp;</span>
    <wa-money-span [value]="profit.valueGross.value" [selected]="grossSelected" /> {{currencyCode ?? '???'}}
  }


  <mat-icon class="details-icon" aria-hidden="false" aria-label="Info icon" fontIcon="more_horiz"
      #tooltip="matTooltip"
      [matTooltip]="getTooltipText()"
      matTooltipPosition="below"
      matTooltipHideDelay="100000"
      matTooltipClass="allow-cr" />
}
