@if (cost)
{
  @if (isShowInUsd())
  {
    $<wa-money-span [value]="cost.valueNet.valueInUsd" />
  }
  @else
  {
    <wa-money-span [value]="cost.valueNet.value" [selected]="valueSelected" /> {{currencyCode ?? '???'}}
  }
  <mat-icon class="details-icon" aria-hidden="false" aria-label="Info icon" fontIcon="more_horiz"
      #tooltip="matTooltip"
      [matTooltip]="getTooltipText()"
      matTooltipPosition="below"
      matTooltipHideDelay="100000"
      matTooltipClass="allow-cr" />

  @if (isShowInUsd())
  {
    <wa-diff-span [baseValue]="cost.valueNet.valueInUsd" [relativeValue]="cost.baseProfit.valueNet.valueInUsd / 12"
      [baseSelected]="diffSelected" [relativeSelected]="relativeSelected" />
  }
  @else
  {
    <wa-diff-span [baseValue]="cost.valueNet.value" [relativeValue]="cost.baseProfit.valueNet.value / 12"
      [baseSelected]="diffSelected" [relativeSelected]="relativeSelected" />
  }
  <mat-icon class="details-icon" aria-hidden="false" aria-label="Info icon" fontIcon="more_horiz"
    #tooltip="matTooltip"
    [matTooltip]="getDiffTooltipText()"
    matTooltipPosition="below"
    matTooltipHideDelay="100000"
    matTooltipClass="allow-cr" />

}
