.form-inline-container
{
  form
  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;

    .field
    {
      width: 290px;
    }
  }
}

table
{
  width: 100%;
  td
  {
    vertical-align: top;
  }
}

