/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Franklin Gothic Book", Roboto, "Helvetica Neue", sans-serif; }

.actions-panel, .filters-panel
{
  padding: 0 0 12px 0;
  margin-bottom: 12pt;
  border-bottom: 1pt solid #888;

  display: flex;
  gap: 10px;
}

.allow-cr {
  white-space: pre-line;
  max-width: unset !important;
}
